@{
    ViewData["Title"] = "Home Page";
}
<div class="bodyMenu">
    <div class="wrap">
        <div class="informBlock">
            <i class="fas fa-clipboard-list"></i>
            <img src="https://legkovmeste.ru/wp-content/uploads/2019/05/post_5ccf18.." alt="Хачи">
            <h5 class="mainText">Хычин</h5>
            <div class="underlineBlock"></div>
            <p class="secondText">Здоровый!</p>
        </div>

        <div class="informBlock">
            <i class="fas fa-rocket"></i>
            <img src="https://fb.ru/media/i/7/4/2/4/7/4/i/742474.jpg" alt="Шышлыки">
            <h5 class="mainText">Шашлык</h5>
            <div class="underlineBlock"></div>
            <p class="secondText"> Отменный!</p>
        </div>

        <div class="informBlock">
            <i class="fas fa-chart-pie"></i>
            <img src="https://catherineasquithgallery.com/uploads/posts/2021-03/thu.." alt="Пивандрий...">
            <h5 class="mainText">Много пива!</h5>
            <div class="underlineBlock"></div>
            <p class="secondText">Вкусное!</p>
        </div>


    </div>


</div>




















