@{
    ViewData["Title"] = "Home Page";
}
<div class="bodyMenu">
    <div class="wrap">
        <div class="informBlock">
            <i class="fas fa-clipboard-list"></i>
            <img src="" alt="Хычин">
            <h5 class="mainText">Шашлык</h5>
            <div class="underlineBlock"></div>
            <p class="secondText">Отменный!</p>
            <a href="">Купить</a>
        </div>

        <div class="informBlock">
            <i class="fas fa-rocket"></i>
            <img src="" alt="Шышлыки">
            <h5 class="mainText">Много пива!</h5>
            <div class="underlineBlock"></div>
            <p class="secondText">Вкусное!</p>
            <a href="">Купить</a>
        </div>

        <div class="informBlock">
            <i class="fas fa-chart-pie"></i>
            <img src="" alt="...">
            <h5 class="mainText">Хычин</h5>
            <div class="underlineBlock"></div>
            <p class="secondText">Здоровый!</p>
            <a href="">Купить</a>
        </div>
    </div>
</div>

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Хычин
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Хычин — национальное блюдо карачаево-балкарской кухни,
                корнями уходящее в период традиционных верований.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Пиво
                </button>
            </h2>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                С «Хмельнов» это мое первое знакомство. Не знаю есть ли оно в стекле, но в ... Пиво "Жигули барное" - пиво из "Фикс-Прайса". 
                Стоит ли оно того и стоит ли его того?) Привет, девочки и мальчики, поговорим о пиве?
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Шышлык
                </button>
            </h2>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Шашлы́к — изначально блюдо стран Западной и Центральной Азии, а также Восточной Европы,
                из баранины мелкой нарезки, нанизанное на шампур и запечённое на древесном угле
            </div>
        </div>
    </div>

</div>





















