@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="uslovia">

        <div class="row">
            <div id="content">

                <p class="text-center">Теперь насладиться средиземноморской кухней ресторана «Высота» 
                в очаге домашнего уюте стало возможным!</p>
                <div class="white text-center"><span>При заказе от 2500 руб.</span>доставка по городу <b>бесплатно</b> (до Зари включительно)</div>
                <div class="white big text-center">
                    <div class="inline">
                        Доставка по городу<br>(до Зари включительно)<span>275 руб</span>
                    </div>
                    <div class="inline">
                        Доставка за пределами города<br>(Седанка, Весенняя, о.Русский)<span>от 350 руб</span>
                    </div>
                    <div class="inline">
                        Доставка за пределами города<br>(Угольная)<span>от 550 руб</span>
                    </div>
                    <div class="inline line2">
                        Доставка за пределами города<br>(Аэропорт)<span>от 900 руб</span>
                    </div>
                    <div class="inline line2">
                        Доставка за пределами города<br>(Артем)<span>от 1 500 руб</span>
                    </div>
                </div>

                <div class="bab">
                    Служба доставки панорамного ресторана работает <span>Круглосуточно</span>                 
                    <div>Оформить заказ по телефону: <span>8 (924) 247 87 88</span></div>
                </div>

                <div class="text-center spb">Способы оплаты</div>
                <div class="payment_variants">
                    <div class="payment_cod">Наличными при полученни заказа</div>
                    <div class="payment_yamodule">Банковской картой на сайте</div>
                </div>

                <div class="text-center spb">Инструкция по оплате заказа на сайте</div>
                <p>После подтверждения вами вашего заказа и контактных данный заказа, если вы выбрали метод оплаты «Банковской картой через сайт», Вы будете переадресованы на платежную страницу банка-эквайера, где необходимо ввести реквизиты Вашей карты. В случае, если у Вас подключена услуга "Безопасные платежи в Интернет" и для совершения платежа банк-эмитент требует введения одноразового пароля, после ввода всех реквизитов Вы будете переадресованы на страницу Вашего банка эмитента для ввода данного пароля.</p>
                
                <p>Платежи проводятся посредством сервиса Банка. Безопасность платежей обеспечивается современными протоколами и технологиями, разработанными международными платежными системами Visa International и MasterCard Worldwide (3D-Secure: Verified by VISA, MasterCard SecureCode). Обработка полученных конфиденциальных данных Держателя карты производится в процессинговом центре Банка-эквайера, сертифицированного по стандарту PCI DSS. Защита передаваемой информации обеспечивается с помощью современных протоколов обеспечения безопасности в Интернет.</p>
                <p><b>Отмена заказа и возврат средств</b><br>В случае отмены заказа, оплаченному безналичным расчетом, по правилам платежной системы, возврат денежных средств осуществляется в течение 30 дней.</p>
                
        </div>
    </div>
</div>